In [9]:
import cdsapi
import timeit
import os
from utils import *
import xarray as xr
import zipfile
from matplotlib import pyplot as plt

In [5]:
ISO_A2 = 'GN'

start_year = 1950                                            # from 1950
end_year = 1951

variables_list = [
                  'runoff',
                 ]# to present year

folder_nc = 'era5_api'

In [6]:
### Processing Data
dataset = 'reanalysis-era5-land'  # 'reanalysis-era5-land'
variable_name = {
    'total_precipitation': 'tp',
    'surface_runoff': 'sro',
    'runoff': 'ro',
    'snow_depth_water_equivalent': 'sd',
    '2m_temperature': 't2m',
    'potential_evaporation': 'pev',
    'total_evaporation': 'e'
}

temp = '_'.join([variable_name[variable] for variable in variables_list])


long_west, lat_south, long_east, lat_north = get_bbox(ISO_A2)

In [7]:
years = [ str(start_year +i ) for i in range(end_year - start_year + 1)]
if not os.path.exists(folder_nc): os.mkdir(folder_nc)
for year in years:
    downloaded_file = f'{dataset}_{ISO_A2}_{year}_{temp}.zip'
    print(f'File to download: {downloaded_file}')

    if not os.path.exists(os.path.join(folder_nc, downloaded_file)):
        print('Process started. Please wait the ending message ... ')
        start = timeit.default_timer()
        c = cdsapi.Client()

        c.retrieve(
            dataset,
            {
                'data_format': 'grib',
                #'format': 'grib',
                #'product_type': 'monthly_averaged_reanalysis',
                'variable': ["runoff"],
                'year': year,
                'day': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12',
                        '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
                        '25', '26', '27', '28', '29', '30', '31'],
                'month': [ '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                'time': ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00',
                         '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00',
                         '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                'area': [ lat_south, long_west, lat_north, long_east ],
            }, os.path.join(folder_nc, downloaded_file)
            )

        stop = timeit.default_timer()
        print('Process completed in ', (stop - start)/60, ' minutes')
    else:
        print('File already exists.')

File to download: reanalysis-era5-land_GN_1950_ro.zip
Process started. Please wait the ending message ...

2025-04-18 18:09:31,653 INFO [2024-09-26T00:00:00] Watch our [Forum](https://forum.ecmwf.int/) for Announcements, news and other discussed topics.
2025-04-18 18:09:31,653 WARNING [2024-06-16T00:00:00] CDS API syntax is changed and some keys or parameter names may have also changed. To avoid requests failing, please use the "Show API request code" tool on the dataset Download Form to check you are using the correct syntax for your API request.
2025-04-18 18:09:31,837 INFO Request ID is 7fa9f0fe-3272-4c93-9086-5cc5f6f1e14c
2025-04-18 18:09:31,938 INFO status has been updated to accepted
2025-04-18 18:09:40,408 INFO status has been updated to running
2025-04-18 18:09:45,536 INFO status has been updated to successful
2025-04-18 18:09:53,925 INFO [2024-09-26T00:00:00] Watch our [Forum](https://forum.ecmwf.int/) for Announcements, news and other discussed topics.
2025-04-18 18:09:53,926 WARNING [2024-06-16T00:00:00] CDS API syntax is changed and some keys or parameter names may have also changed. To avoid requests failing, please use the "Show API request code" tool on the dataset Download Form to check you are using the correct syntax for your API request.

Process completed in  0.3731356354158682  minutes
File to download: reanalysis-era5-land_GN_1951_ro.zip
Process started. Please wait the ending message ...

2025-04-18 18:09:54,150 INFO Request ID is 74b73a13-107d-4d2d-b5e2-0eb5e20c8079
2025-04-18 18:09:54,218 INFO status has been updated to accepted
2025-04-18 18:10:02,748 INFO status has been updated to running
2025-04-18 18:10:07,865 INFO status has been updated to successful

Process completed in  0.33733788958440225  minutes

In [18]:
ds_raw = extract_data(os.path.join(folder_nc, downloaded_file), step_type=None)

Ignoring index file 'era5_extracted_files/reanalysis-era5-land_GN_1951_ro.grib.5b7b6.idx' older than GRIB file

Opening GRIB file: era5_extracted_files/reanalysis-era5-land_GN_1951_ro.grib

Ignoring index file 'era5_extracted_files/reanalysis-era5-land_GN_1951_ro.grib.5b7b6.idx' older than GRIB file

Opening GRIB file: era5_extracted_files/reanalysis-era5-land_GN_1951_ro.grib

In [22]:
ds_raw['ro'].to_dataframe().reset_index()

,time,step,latitude,longitude,number,surface,valid_time,ro
0,1950-12-31,0 days 01:00:00,12.591,-15.082000,0,0.0,1950-12-31 01:00:00,NaN
1,1950-12-31,0 days 01:00:00,12.591,-14.981986,0,0.0,1950-12-31 01:00:00,NaN
2,1950-12-31,0 days 01:00:00,12.591,-14.881973,0,0.0,1950-12-31 01:00:00,NaN
3,1950-12-31,0 days 01:00:00,12.591,-14.781959,0,0.0,1950-12-31 01:00:00,NaN
4,1950-12-31,0 days 01:00:00,12.591,-14.681946,0,0.0,1950-12-31 01:00:00,NaN
...,...,...,...,...,...,...,...,...
36233995,1951-12-31,1 days 00:00:00,7.190,-8.081054,0,0.0,1952-01-01 00:00:00,NaN
36233996,1951-12-31,1 days 00:00:00,7.190,-7.981041,0,0.0,1952-01-01 00:00:00,NaN
36233997,1951-12-31,1 days 00:00:00,7.190,-7.881027,0,0.0,1952-01-01 00:00:00,NaN
36233998,1951-12-31,1 days 00:00:00,7.190,-7.781014,0,0.0,1952-01-01 00:00:00,NaN
36233999,1951-12-31,1 days 00:00:00,7.190,-7.681000,0,0.0,1952-01-01 00:00:00,NaN